<div class="dashboard mt-3">

	<app-profile-progressbar></app-profile-progressbar>
	<div class="dashboard-cards page-block row no-gutters">
		<div class="dashboard-card-single col-sm-3">
			<div class="dashboard-card-single-body">
				<div class="d-flex justify-content-around">
					<i class="far fa-thumbs-up">
					</i>
					<div class="stats">
						<span class="stats-number">21</span>
						<p> posts liked</p>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-card-single col-sm-3">
			<div class="dashboard-card-single-body">
				<div class="d-flex justify-content-around">
					<i class="far fa-thumbs-down">
					</i>
					<div class="stats">
						<span class="stats-number">5</span>
						<p> posts disliked</p>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-card-single col-sm-3">
				<div class="dashboard-card-single-body">
				<div class="d-flex justify-content-around">
					<i class="far fa-star">
					</i>
					<div class="stats">
						<span class="stats-number">44</span>
						<p> posts starred</p>
					</div>
				</div>
			</div>
		</div>
		<div class="dashboard-card-single col-sm-3">
				<div class="dashboard-card-single-body">
				<div class="d-flex justify-content-around">
					<i class="far fa-comment">
					</i>
					<div class="stats">
						<span class="stats-number">3</span>
						<p> comments left</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>