$main:#008bf7;
$dark:#131313;
$white:#fff;
$white-07:rgba($white,.7);
$white-09:rgba($white,.9);
$btn-primary:#00d2fc;


$menu-bg:#2980b9;
$menu-icons:darken($menu-bg,20%);
$menu-item-hover:darken($menu-bg,5%);

$body-main-bg:#edeef0;
$plain-text:rgba(0,0,0,.8);


$success:darken(#61d836,20%);
$primary:#6a93ff;
$warning:#875bf9;
$danger:darken(#ff7a81,20%);
$disabled:#cccccc;
$favorite:darken(#eeff41,20%);
$default:#4a76a8;

//popups
$popup-bg:#f7f7f7;


//form
$input-bg:#d6e4f4;


//notifications
$error-danger:darken($danger,10%);


//admin
$admin-panel-bg:#dedede;