<div class="page-block p-5 mb-3">
		<div class="px-3">
			<h4 class="mb-3">Profile strength: <strong>Strong</strong></h4>
			<div class="progress-bar">
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step"></div>
				<div class="progress-bar-step">
					<div class="completion-icon">
						<i class="fas fa-check"></i>
					</div>
				</div>

				<div class="progress-bar-revealer"></div>
			</div>
		</div>
	</div>