@import "_colors.scss";

.create{


	&-header{
		padding:1.3rem;

		&-close{
		    position: absolute;
		    right: -35px;
		    width: 42px;
		    text-align: center;
		    background: rgba(darken($danger,10%), 0.6);
		    color: #fff;
		    font-size: 21px;
		    top: 0;
		    z-index: -1;
		    border-radius: 5px;
		    height: 35px;
		    border-bottom-left-radius: 0;
		    border-top-left-radius: 0;
		    transition:.2s all;

		    i{
		    	display:block;
		    	position:relative;
		    	transform:translateX(4px);
				}

		&:hover{
			    background: rgba(darken($danger,7%), 0.7);

		}
    }
	}

	 &-error-text{
		    	padding:.3rem;
		    	font-size:1.1rem;
		    	color:$error-danger;
		    }

	&-form{
		padding:1.5rem 3rem;

		label{
			margin:.5rem 0;
			font-size:1.2rem;
		}
	}

	&-footer{
		padding:1.5rem 3rem;
	}
}